body {
   padding: 40px;
   background-color: $purple;
   background-image: url('/img/bg-mobile.svg');
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center center;
   color: #ffffff;

   @media screen and (min-width: 1024px) {
      padding: 60px 80px 40px 80px;
      background-image: url('/img/bg-desktop.svg');
   }
}

main {
   margin-bottom: 60px;

   @media screen and (min-width: 1024px) {
      display: grid;
      grid-template-columns: repeat(2, minmax(250px, 1fr));
      margin-bottom: 26px;
   }
}

.heroImage {
   @media screen and (max-width: 1023px) {
      margin-bottom: 70px;
   }

   img {
      width: 100%;
   }
}

.heroText {
   line-height: 1.75;
   text-align: center;

   @media screen and (min-width: 1024px) {
      padding-left: 60px;
      text-align: left;
   }
}
