body {
   margin: 0;
}

.nav-ul {
   margin: 0;
   display: flex;
   align-items: center;
   padding: 0;
}

.lock {
   overflow: hidden;
}

.nav-btns button:nth-child(1) {
   border: none;
   outline: none;
   background-color: transparent;
}

.nav-btns button:nth-child(2) {
   outline: none;
   border: none;
   padding: 10px 25px;
   border-radius: 10px;
   border: 1px solid black;
   background-color: transparent;
}

a {
   text-decoration: none;
   color: black;
   display: inline;
   margin: 10px;
}

.ham {
   display: none;
}

.overlay {
   display: none;
}

nav {
   display: flex;
   align-items: center;
   justify-content: space-around;
}

h1 {
   font-size: 70px;
   width: 500px;
}

.hero {
   display: grid;
   grid-template-columns: repeat(2, 450px);
   grid-gap: 80px;
   margin: 0 auto;
   max-width: 1200px;
   justify-content: center;
   align-items: center;
}

.img-container img {
   width: 100%;
}

.logos {
   margin-top: 80px;
   display: flex;
   align-items: center;
   justify-content: space-around;
}