body {
   margin: 0;
}

.nav-ul {
   margin: 0;
   display: flex;
   align-items: center;
   padding: 0;
}

.lock {
   overflow: hidden;
}

.nav-btns button:nth-child(1) {
   border: none;
   outline: none;
   background-color: transparent;
}