*, *::after, *::before {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

:root {
   --neutral-1: hsl(226, 43%, 10%);
   --neutral-2: hsl(235, 46%, 20%);
   --neutral-3: hsl(235, 45%, 61%);
   --neutral-4: hsl(236, 100%, 87%);
 
   --avatar:hsl(246, 80%, 60%);
 
   --orange :hsl(15, 100%, 70%);
   --cyan :hsl(195, 74%, 62%);
   --red :hsl(348, 100%, 68%);
   --green :hsl(145, 58%, 55%);
   --purple :hsl(264, 64%, 52%);
   --yellow :hsl(43, 84%, 65%);
 
   --bg: var(--neutral-2);
   --time: 200ms;
   --ease: ease-in-out;
   --snap: cubic-bezier(0.72, -0.12, 0.24, 1.14);
}