* {
   margin: 0px;
   padding: 0px;
}

body {
   background-color:#141414;
   width: 100%;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   font-family: "Inter", serif;
}

.card {
   background-color:#1F1F1F;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
   padding: 40px;
   height: calc(611px - 80px);
   width: calc(384px - 80px);
   border-radius: 12px;
}

img {
   width: 88px;
   height: 88px;
   border-radius: 100px;
}

.nameLocation {
   width: 100%;
   height: 61px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
}

.title {
   color: white;
   font-weight: bold;
   font-size: 24px;
   line-height: 150%;
}

.description {
   color: #C4F82A;
   font-weight: bold;
   font-size: 14px;
   line-height: 150%;
}

.bio {
   color: white;
   font-size: 14px;
   line-height: 150%;
}

.links {
   width: 100%;
   height: 289px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.button {
   width: 100%;
   height: 45px;
   background-color:#333333;
   display: flex;
   justify-content: center;
   align-items: center;
   color: white;
   border-radius: 8px;
   font-weight: bold;
   font-size: 14px;
   line-height: 150%;
   transition: background-color 1s ease;
}

.button:hover {
   background-color: #C4F82A;
   color: #333333;
}

@media only screen and (min-width: 375px) {
   .card {
      padding: 24px;
      height: calc(579px - 48px);
      width: calc(327px - 48px);
   }  
}