* {
   margin: 0px;
   padding: 0px;
}

body {
   background-color:#141414;
   width: 100%;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   font-family: "Inter", serif;
}

.card {
   background-color:#1F1F1F;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
   padding: 40px;
   height: calc(611px - 80px);
   width: calc(384px - 80px);
   border-radius: 12px;
}