*, *::after, *::before {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}

:root {
   /* color variables */
   --clr-purple--muted: hsl(254, 88%, 90%);
   --clr-purple: hsl(256, 67%, 59%);
   --clr-yellow--muted: hsl(31, 66%, 93%);
   --clr-yellow: hsl(39, 100%, 71%);
   --clr-white: hsl(0, 0%, 100%);
   --clr-bkg: hsl(0 0% 96.1%);
   --clr-black: hsl(0, 0%, 7%);

   /* font size variables */
   --fs--2: clamp(0.7813rem, 0.7747rem + 0.0326vw, 0.8rem);
   --fs--1: clamp(0.9375rem, 0.9158rem + 0.1087vw, 1rem);
   --fs-0: clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
   --fs-1: clamp(1.35rem, 1.2761rem + 0.3696vw, 1.5625rem);
   --fs-2: clamp(1.62rem, 1.5041rem + 0.5793vw, 1.9531rem);
   --fs-3: clamp(1.944rem, 1.771rem + 0.8651vw, 2.4414rem);
   --fs-4: clamp(2.3328rem, 2.0827rem + 1.2504vw, 3.0518rem);
   --fs-5: clamp(2.7994rem, 2.4462rem + 1.7658vw, 3.8147rem);

   /* spacing variables */
   --space-3xs: clamp(0.3125rem, 0.3125rem + 0vw, 0.3125rem);
   --space-2xs: clamp(0.5625rem, 0.5408rem + 0.1087vw, 0.625rem);
   --space-xs: clamp(0.875rem, 0.8533rem + 0.1087vw, 0.9375rem);
   --space-s: clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
   --space-m: clamp(1.6875rem, 1.6223rem + 0.3261vw, 1.875rem);
   --space-l: clamp(2.25rem, 2.163rem + 0.4348vw, 2.5rem);
   --space-xl: clamp(3.375rem, 3.2446rem + 0.6522vw, 3.75rem);
   --space-2xl: clamp(4.5rem, 4.3261rem + 0.8696vw, 5rem);
   --space-3xl: clamp(6.75rem, 6.4891rem + 1.3043vw, 7.5rem);

   /* border radius variable */
   --rounded-md: 16px;
}

.text--purple {
   color: var(--clr-purple);
}

.text--yellow {
   color: var(--clr-yellow);
}

h2 {
   text-wrap: balance;
   font-weight: 500;
   line-height: 1.1;
}

img {
   display: block;
   max-width: 100%;
}

body {
   font-family: "DM Sans", sans-serif;
   background-color: var(--clr-bkg);
   color: var(--clr-black);
   font-size: var(--fs-0);
   font-weight: 400;
   padding: var(--space-m);
   display: grid;
   place-items: center;
}

.bento {
   display: grid;
   gap: var(--space-s);
   max-width: 1200px;
   grid-template-columns: 1fr;
   grid-template-areas:
      "social"
      "multiple"
      "consistency"
      "timing"
      "followers"
      "growth"
      "schedule"
      "content";
}

.bento-item {
   padding: var(--space-m);
   border-radius: var(--rounded-md);
   display: grid;
   width: 100%;
   overflow: hidden;
   gap: var(--space-s);
}

.bento-item p {
   text-wrap: pretty;
}

.bento-item h2 {
   font-size: var(--fs-2);
}

.schedule {
   grid-area: schedule;
   background-color: var(--clr-yellow--muted);
   align-content: center;
}

.schedule img {
   width: 200px;
}

.social {
   grid-area: social;
   color: var(--clr-white);
   background-color: var(--clr-purple);
   text-align: center;
}

.social h2 {
   font-size: var(--fs-4);
}

.social img {
   margin-inline: auto;
   width: 200px;
}

.timing {
   grid-area: timing;
   background-color: var(--clr-purple--muted);
   text-align: center;
   align-content: center;
}

.timing img {
   margin-inline: auto;
}

.content {
   grid-area: content;
   background-color: var(--clr-yellow);
}

.multiple {
   grid-area: multiple;
   background-color: var(--clr-white);
}

.growth {
   background-color: var(--clr-white);
   grid-area: growth;
}

.growth h2 {
   font-size: inherit;
   font-weight: 400;
}

.growth .large {
   font-size: var(--fs-4);
   font-weight: 500;
}

.growth img {
   width: 200px;
}

.consistency {
   grid-area: consistency;
   padding-block-end: 0;
   background-color: var(--clr-yellow);
}

.consistency img {
   width: 250px;
}

.followers {
   grid-area: followers;
   place-items: center;
   background-color: var(--clr-purple);
   color: var(--clr-white);
}

.followers h2 {
   text-align: center;
}

.followers img {
   width: 240px;
}

@media screen and (min-width: 768px) {
   .bento {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 1fr 50px 0.1.2fr 1fr;
      grid-template-areas:
         "schedule social social timing"
         "schedule multiple consistency timing"
         "content multiple consistency timing"
         "content growth followers followers";
   }

   .img-wrapper {
      max-width: 100%;
      padding-right: var(--space-m);
      margin-right: -400px;
   }

   .schedule img {
      width: 100%;
   }

   .timing {
      text-align: left;
   }

   .timing img {
      max-width: 660px;
   }

   .content {
      align-content: space-between;
   }
}