* {
   padding: 0;
   margin: 0;
}

body {
   background-color: hsl(270, 20%, 96%);
   font-family: "Rubik", sans-serif;
   font-size: 16px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 100vh;
}

.phone {
   display: flex;
   flex-direction: column;
   width: 210px;
   max-height: 100%;
   height: 450px;
   border-radius: 20px;
   padding: 10px;
   background-color: white;
   margin-bottom: 40px;
}

.phone-header {
   background-image: linear-gradient(
      to right,
      hsl(264, 100%, 61%),
      hsl(293, 100%, 63%)
   );
   border-radius: 20px 20px 8px 8px;
   width: 100%;
   height: 60px;
}

.phone-header-camera {
   background-color: white;
   height: 20px;
   width: 130px;
   margin: auto;
   border-radius: 0px 0px 30px 30px;
}

.phone-header-description {
   width: 100%;
   height: 40px;
   display: flex;
   align-items: center;
   color: white;
   display: flex;
   justify-content: space-between;
}

.phone-header-left {
   display: flex;
   width: 65%;
   justify-content: space-around;
}

.uil-ellipsis-v {
   margin-right: 15px;
}

.phone-header-description .uil-angle-left {
   font-size: 20px;
}

.phone-header-description img {
   width: 25px;
   border: 1px solid white;
   border-radius: 50px;
}

.name {
   font-size: 12px;
}

.availability {
   font-size: 8px;
   color: lightgray;
}

.phone-body {
   overflow: auto;
   width: 100%;
   flex-grow: 1;
   border-radius: 0px 0px 20px 20px;
   background-color: hsl(270, 20%, 96%);
}

.phone-body .message {
   font-size: 8px;
   display: inline-block;
   margin-top: 7px;
}

.phone-body .left p {
   background-color: hsl(0, 14%, 91%);
   color: hsl(276, 55%, 52%);
   border-radius: 10px 10px 10px 5px;
   padding: 7px;
   margin-left: 10px;
}

.phone-body .right {
   width: 100%;
   display: flex;
   justify-content: flex-end;
}

.phone-body .right p {
   background-color: white;
   border-radius: 10px 10px 5px 10px;
   padding: 7px;
   margin-right: 10px;
}

.pictures {
   margin-top: 7px;
   width: 100%;
   display: flex;
   justify-content: flex-end;
}

.pictures img {
   width: 38px;
   margin-right: 10px;
   border-radius: 10px;
}

.payment {
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 140px;
   margin-left: 10px;
   margin-top: 7px;
   color: white;
   background-image: linear-gradient(
      to left,
      hsl(264, 100%, 61%),
      hsl(293, 100%, 63%)
   );
   padding: 7px;
   border-radius: 10px 10px 10px 5px;
}

.payment-left {
   display: flex;
   align-items: center;
   width: 80%;
}

.payment-left i {
   color: hsl(270, 20%, 96%);
}

.payment p {
   font-size: 8px;
   margin-left: 5px;
}

.payment .amount {
   font-size: 14px;
   font-weight: 700;
}