* {
   padding: 0;
   margin: 0;
}

body {
   background-color: hsl(270, 20%, 96%);
   font-family: "Rubik", sans-serif;
   font-size: 16px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 100vh;
}

.phone {
   display: flex;
   flex-direction: column;
   width: 210px;
   max-height: 100%;
   height: 450px;
   border-radius: 20px;
   padding: 10px;
   background-color: white;
   margin-bottom: 40px;
}

.phone-header {
   background-image: linear-gradient(
      to right,
      hsl(264, 100%, 61%),
      hsl(293, 100%, 63%)
   );
   border-radius: 20px 20px 8px 8px;
   width: 100%;
   height: 60px;
}

.phone-header-camera {
   background-color: white;
   height: 20px;
   width: 130px;
   margin: auto;
   border-radius: 0px 0px 30px 30px;
}

.phone-header-description {
   width: 100%;
   height: 40px;
   display: flex;
   align-items: center;
   color: white;
   display: flex;
   justify-content: space-between;
}