* {
   box-sizing: border-box;
   font-family: "Ubuntu", sans-serif;
   padding: 0;
   margin: 0;
}

:root {
   --Marine-blue: hsl(213, 96%, 18%);
   --Purplish-blue: hsl(243, 100%, 62%);
   --Pastel-blue: hsl(228, 100%, 84%);
   --Light-blue: hsl(206, 94%, 87%);
   --Strawberry-red: hsl(354, 84%, 57%);
 
   --Cool-gray: hsl(231, 11%, 63%);
   --Light-gray: hsl(229, 24%, 87%);
   --Magnolia: hsl(217, 100%, 97%);
   --Alabaster: hsl(231, 100%, 99%);
   --White: hsl(0, 0%, 100%);
}

.hidden {
   display: none;
}

img {
   max-width: 100%;
}

body {
   background-color: var(--Magnolia);
   display: flex;
   align-items: center;
   justify-content: center;
   min-height: 100vh;
}

.form {
   width: 900px;
   background-color: var(--White);
   border-radius: 1rem;
   box-shadow: 0px 0px 1px black;
}

.form-container {
   display: flex;
   padding: 1rem;
}

.form-sidebar {
   background-image: url("./assets/images/bg-sidebar-desktop.svg");
   background-repeat: no-repeat;
   width: 400px;
   height: 568px;
   padding: 3rem 2rem;
   display: flex;
   flex-direction: column;
   gap: 2rem;
}

.circle {
   width: 40px;
   height: 40px;
   border: 2px solid var(--White);
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
   color: var(--White);
   font-weight: 700;
}

.active .circle {
   background-color: var(--Light-blue) !important;
   color: var(--Marine-blue) !important;
}

.err {
   border: 2px solid var(--Strawberry-red) !important;
}

.step {
   display: flex;
   align-items: center;
   gap: 0.8rem;
}

.step-content {
   display: flex;
   flex-direction: column;
   gap: 0.2rem;
}

.step-content span {
   text-transform: uppercase;
   color: var(--Light-gray);
   font-size: 13px;
}

.step-content b {
   text-transform: uppercase;
   color: var(--White);
}

.stp {
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.stp .header {
   margin-bottom: auto;
   padding-top: 2rem;
   line-height: 2.5rem;
}

.header .title {
   color: var(--Marine-blue);
}

.header .exp {
   color: var(--Cool-gray);
}

.label {
   color: var(--Marine-blue);
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.next-stp {
   margin-top: auto;
   margin-bottom: 2rem;
   margin-left: auto;
   border: none;
   padding: 1rem 2rem;
   border-radius: 7px;
   background-color: var(--Marine-blue);
   color: white;
   cursor: pointer;
}

.step-1 {
   display: flex;
   width: 90%;
}

.step-1 form {
   display: flex;
   flex-direction: column;
   flex: 1;
   justify-content: center;
   gap: 1rem;
}

.step-1 form input {
   padding: 1rem;
   border: 1px solid var(--Cool-gray);
   border-radius: 7px;
   font-weight: 500;
   font-size: 1rem;
}