* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: sans-serif;
}

header {
   height: 100vh;
   background: url('https://images.pexels.com/photos/1164763/pexels-photo-1164763.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
   background-size: cover;
}

nav ul {
   display: flex;
   justify-content: space-around;
   align-items: center;
   list-style: none;
   background: rgb(250, 250, 250);
   position: fixed;
   top: 0px;
   right: 0px;
   width: 100%;
   height: 10vh;
}

nav a {
   color: black;
   text-decoration: none;
   font-size: 18px;
   position: relative;
}

nav a::after {
   content: "";
   position: absolute;
   height: 100%;
   top: 0;
   left: 0;
   width: 100%;
   border-bottom: 2px solid green;
   transform: translateX(-100%);
   transition: transform 0.5s ease;
}

nav li {
   overflow: hidden;
   height: 25px;
}
