@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600&display=swap");

:root {
   --Moderate-blue: hsl(238, 40%, 52%);
   --Soft-Red: hsl(358, 79%, 66%);
   --Light-grayish-blue: hsl(239, 57%, 85%);
   --Pale-red: hsl(357, 100%, 86%);
   --Dark-blue: hsl(212, 24%, 26%);
   --Grayish-Blue: hsl(211, 10%, 45%);
   --Light-gray: hsl(223, 19%, 93%);
   --Very-light-gray: hsl(228, 33%, 97%);
   --White: hsl(0, 0%, 100%);
}

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: "Rubik", sans-serif;
   font-size: 16px;
}

p {
   line-height: 1.5;
}

body {
   height: 100%;
   width: 100%;
   padding-top: 3rem;
   background-color: var(--Very-light-gray);
}