* {
   margin: 0;
   padding: 0;
}

body {
   background-color: hsl(219, 17%, 16%);
   width: 100%;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   font-family: "Libre Franklin", sans-serif;
   font-family: "Outfit", sans-serif;
   font-family: "Red Hat Text", sans-serif;
}

.card {
   background-color: hsl(217, 19%, 24%);
   height: 310px;
   width: 340px;
   border-radius: 10px;
   display: flex;
   flex-direction: column;
   align-items: center;
   position: absolute;
}