* {
   margin: 0;
   padding: 0;
}

body {
   height: 100vh;
   width: 100%;
   background-color: hsl(185, 41%, 84%);
   font-family: "Space Mono", monospace;
}

.logo {
   text-align: center;
   margin-top: 1.7rem;
   margin-bottom: 2.3rem;
}