* {
   margin: 0;
   padding: 0;
}

body {
   height: 100vh;
   width: 100%;
   background-color: hsl(185, 41%, 84%);
   font-family: "Space Mono", monospace;
}

.logo {
   text-align: center;
   margin-top: 1.7rem;
   margin-bottom: 2.3rem;
}

.tip-calculator {
   background-color: white;
   display: flex;
   flex-direction: column;
   padding: 2rem;
   border-radius: 1.4rem 1.4rem 0 0;
}

label {
   color: hsl(186, 14%, 43%);
   font-weight: 700;
   margin-bottom: 0.3rem;
}

input {
   border: none;
   outline: none;
   padding: 5px;
   padding-right: 18px;
   background-position: 17px 15px;
   background-repeat: no-repeat;
   background-color: hsl(189, 41%, 97%);
   text-align: right;
   font-size: 24px;
   color: hsl(183, 100%, 15%);
   font-weight: bolder;
   font-family: "Space Mono", monospace;
}

.bill-input {
   background-image: url("../../images/icon-dollar.svg");
   margin-bottom: 36px;
}

.tip {
   margin-top: 0.7rem;
   display: grid;
   grid-template-columns: 144px 144px;
   row-gap: 2em;
   column-gap: 18px;
   margin-bottom: 2rem;
}