@font-face {
   font-family: MyFont;
   src: url(../../fonts/Roboto-Regular.ttf);
}

* {
   box-sizing: border-box;
}

body {
   font-family: MyFont;
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
   background-color: hsl(234, 29%, 20%);
}

.card {
   display: flex;
   width: 800px;
   background-color: white;
   padding: 30px;
   border-radius: 20px;
}

.right {
   width: 60%;
}

.left {
   width: 40%;
}

.left img {
   width: 100%;
}

ul {
   list-style-image: url(../../images/icon-success.svg);
}

li {
   margin-bottom: 10px;
}

form {
   display: flex;
   flex-direction: column;
   width: 300px;
}

label {
   margin-bottom: 10px;
   color: black;
   font-size: small;
}