* {
   margin: 0px;
   padding: 0px;
}

body {
   background-color: #F0F0F0;
   width: 100%;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
}

.card {
   background-color: white;
   border-radius: 24px 24px 100px 24px;
   width: 343px;
   height: 486px;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;
}

.date {
   width: 295px;
   height: 76px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.day, .month, .year {
   width: 87.67px;
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   color: #716F6F;
   font-weight: bold;
   font-size: 12px;
   letter-spacing: 25%;
}

input {
   width: calc(100% - 16px);
   height: 54px;
   border: 1px solid #DCDCDC;
   outline: none;
   border-radius: 8px;
   padding-left: 16px;
   font-size: 32px;
   font-weight: bold;
   color: #151515;
   letter-spacing: 1%;
   font-size: 20px;
   margin-top: 8px;
}

.dayError, .monthError, .yearError {
   color: red;
   font-size: 10px;
   font-style: italic;
   position: absolute;
   top: 210px;
   display: none;
}

.submit {
   width: 295px;
   height: 64px;
   position: relative;
}