* {
   margin: 0px;
   padding: 0px;
}

body {
   background-color: #F0F0F0;
   width: 100%;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
}

.card {
   background-color: white;
   border-radius: 24px 24px 100px 24px;
   width: 343px;
   height: 486px;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;
}

.date {
   width: 295px;
   height: 76px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.day, .month, .year {
   width: 87.67px;
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   color: #716F6F;
   font-weight: bold;
   font-size: 12px;
   letter-spacing: 25%;
}

input {
   width: calc(100% - 16px);
   height: 54px;
   border: 1px solid #DCDCDC;
   outline: none;
   border-radius: 8px;
   padding-left: 16px;
   font-size: 32px;
   font-weight: bold;
   color: #151515;
   letter-spacing: 1%;
   font-size: 20px;
   margin-top: 8px;
}

.dayError, .monthError, .yearError {
   color: red;
   font-size: 10px;
   font-style: italic;
   position: absolute;
   top: 210px;
   display: none;
}

.submit {
   width: 295px;
   height: 64px;
   position: relative;
}

.line {
   width: 100%;
   height: 1px;
   background-color: #DCDCDC;
   position: absolute;
   top: 50%;
   transform: translate(0, -50%);
}

.button {
   background-color: #854DFF;
   width: 64px;
   height: 64px;
   border-radius: 216px;
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: 21;
   position: relative;
   left: 50%;
   transform: translate(-50%, 0%);
   cursor: pointer;
}

img {
   width: 24px;
   height: 24px;
}

.result {
   width: 295px;
   height: 186px;
   font-size: 56px;
   font-weight: bolder;
   font-style: italic;
   line-height: 110%;
   letter-spacing: -2%;
}

.yearNumber, .monthNumber, .dayNumber {
   color: #854DFF;
   margin-right: 8px;
}

@media only screen and (min-width: 1440px) {
   .card {
      border-radius: 24px 24px 200px 24px;
      width: 840px;
      height: 651px;
   }

   .date {
      width: 728px;
      height: 101px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
   }

   .day, .month, .year {
      width: 160px;
   }

   .month, .year {
      margin-left: 32px;
   }

   input {
      width: calc(100% - 24px);
      height: 72px;
      padding-left: 24px;
   }

   .dayError, .monthError, .yearError {
      font-size: 14px;
      top: 145px;
   }

   .submit {
      width: 728px;
      height: 96px;
      position: relative;
   }

   .button {
      width: 96px;
      height: 96px;
      left: 100%;
      transform: translate(-100%, 0%);
   }
}