.articles {
   background-color: $veryLightGray;
}

.article {
   &__content {
   }

   &__grid {
      display: grid;
      grid-template-columns: 1fr;
      gap: 1.875rem;

      @include breakpoint-up(medium) {
         grid-template-columns: repeat(2, 1fr);
      }

      @include breakpoint-up(large) {
         grid-template-columns: repeat(4, 1fr);
      }
   }

   &__item {
      border-radius: 0.3125rem;
      overflow: hidden;
      background-color: $white;
      box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.15);
      transition: all 150ms ease-in-out;

      &:hover {
         transform: scale(1.05);
      }
   }

   &__image {
      height: 12.5rem;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
   }

   &__text {
   }

   &__author {
   }

   &__title {
   }

   &__description {
   }
}
