html {
   font-size: 100%;
   box-sizing: border-box;
}

*,
*::before,
*::after {
   box-sizing: inherit;
}

body {
   margin: 0;
   padding: 0;
   line-height: 1.3;
   font-family: 'Public Sans', sans-serif;
   font-size: 1.125rem;
   color: $grayishBlue;
   font-weight: 300;
}

a,
a::visited,
a:hover {
   text-decoration: none;
}

.flex {
   display: flex;

   &-jc-sb {
      justify-content: space-between;
   }

   &-jc-c {
      justify-content: center;
   }

   &-ai-c {
      align-items: center;
   }
}

button,
.button {
   padding: 1rem 1.875rem;
   background: linear-gradient(to right, $limeGreen, $brightCyan);
   border: 0;
   border-radius: 50px;
   cursor: pointer;
   color: $white;
   font-weight: 400;
}

.hide-for-mobile {
   @include breakpoint-down(medium) {
      display: none;
   }
}

.hide-for-desktop {
   @include breakpoint-up(large) {
      display: none;
   }
}
