* {
   margin: 0px;
   padding: 0px;
}

body {
   background: url("../../images/bg-mobile.png"); 
   font-family: 'Raleway', sans-serif;
   font-size: 14px;
   background-repeat: round;
}

.section {
   height: 100vh;
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.boxOne {
   width: 90%;
   background-color: hsl(228, 56%, 26%);
   border-radius: 10px 100px 10px 10px;
}

.logo {
   margin: 9%;
}

.icon {
   display: flex;
   align-items: center;
   margin-left: 9%;
   margin-bottom: 9%;
   width: 50%;
   justify-content: space-between;
}

.document, .folder, .upload {
   background-color: hsl(229, 57%, 11%);
   padding: 7%;
   height: 20px;
   width: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 10px;
}

.boxTwo {
   color: white;
   width: 90%;
   background-color: hsl(228, 56%, 26%);
   margin-top: 5%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   border-radius: 10px;
}

.text {
   margin-top: 10%;
}

.text span {
   font-weight: bolder;
}

.bar {
   background-color: hsl(229, 57%, 11%);
   width: 90%;
   margin-top: 5%;
   padding: 1%;
   border-radius: 20px;
}