* {
   margin: 0px;
   padding: 0px;
}

body {
   background: url("../../images/bg-mobile.png"); 
   font-family: 'Raleway', sans-serif;
   font-size: 14px;
   background-repeat: round;
}

.section {
   height: 100vh;
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.boxOne {
   width: 90%;
   background-color: hsl(228, 56%, 26%);
   border-radius: 10px 100px 10px 10px;
}

.logo {
   margin: 9%;
}

.icon {
   display: flex;
   align-items: center;
   margin-left: 9%;
   margin-bottom: 9%;
   width: 50%;
   justify-content: space-between;
}