@use '../util' as *;

.cards {
   display: grid;
   grid-template-columns: 1fr;
   gap: rem(30);

   @include breakpoint(medium) {
      grid-template-columns: repeat(2, 1fr);
   }

   @include breakpoint(large) {
      grid-template-columns: repeat(4, 1fr);
   }
}

.card {
   position: relative;
   overflow: hidden;
   background: var(--card-bg);
   color: var(--dark-text1);
   padding: rem(25);
   border-radius: rem(5);
   text-align: center;
   transition: background 150ms ease-in-out;
   cursor: pointer;

   &:hover {
      background: var(--card-hover);
   }

   &--facebook {
      border-top: rem(5) solid var(--facebook);
   }
}
