@use '../util' as *;

.toggle {
   display: grid;
   grid-template-columns: 1fr 3rem;
   border: none;
   margin: 0;

   label {
   }

   &__wrapper {
   }

   input[type='radio'] {
   }

   &__background {
   }

   &__button {
   }
}
