@use '../util' as *;

.toggle {
   display: grid;
   grid-template-columns: 1fr 3rem;
   border: none;
   margin: 0;

   label {
      font-size: rem(14);
      font-weight: 700;
      color: var(--toggle);

      &[for='dark'] {
         line-height: rem(24);
         margin-right: rem(13);
      }
   }

   &__wrapper {
      position: relative;
      height: rem(24);
   }

   input[type='radio'] {
      margin: 0 rem(-2) 0 rem(-2);
      opacity: 0;
      width: rem(24);
      height: rem(24);

      &:focus ~ .toggle__button {
         border: 2px solid white;
      }
   }

   &__background {
      display: block;
      height: 100%;
      position: absolute;
      width: 100%;
      top: 0;
      border-radius: rem(12);
      background: var(--toggle-bg);
      pointer-events: none;
   }

   &__button {
   }
}
