@use '../util' as *;

.toggle {
   display: grid;
   grid-template-columns: 1fr 3rem;
   border: none;
   margin: 0;

   label {
      font-size: rem(14);
      font-weight: 700;
      color: var(--toggle);

      &[for='dark'] {
         line-height: rem(24);
         margin-right: rem(13);
      }
   }

   &__wrapper {
      position: relative;
      height: rem(24);
   }

   input[type='radio'] {
   }

   &__background {
   }

   &__button {
   }
}
