:root {
   --text-blue: hsl(238, 29%, 16%);
   --text-dkblue: hsl(240, 6%, 50%);
   --text-xdkblue: hsl(237, 12%, 33%);
   --text-red: hsl(14, 88%, 65%);
   --gradient-violet: hsl(273, 75%, 66%);
   --gradient-blue: hsl(240, 73%, 65%);
   --divider-blue: hsl(240, 5%, 91%);
}

html {
   box-sizing: initial;
   font-size: 100%;
}

*,
*::before,
*::after {
   box-sizing: inherit;
}

body {
   min-height: 100vh;
   margin: 0;
   padding: 10rem 1rem;
   font-family: 'Kumbh Sans', sans-serif;
   background-image: linear-gradient(var(--gradient-violet), var(--gradient-blue));
   color: var(--text-blue);
}

h1,
h2,
h3 {
   margin-top: 0;
}

.card {
   background: #ffffff;
   border-radius: 2rem;
   max-width: 56rem;
   padding: 2.875rem 1.5rem;
   background-image: url('images/bg-pattern-mobile.svg');
   background-repeat: no-repeat;
   background-position: center 0%;
   background-size: 15rem;
}

.card__box {
   display: none;
}

.card__image {
   position: relative;
}

.card__image img {
   position: absolute;
   top: -6.8rem;
   left: 50%;
   transform: translateX(-50%);
   display: block;
   width: 100%;
   max-width: 15rem;
   height: auto;
}

.card__text {
   padding-top: 7rem;
}

.accordion__item {
   padding-top: 1rem;
   border-bottom: 1px solid var(--divider-blue);
}

.accordion__item h2 {
   margin-bottom: 0;
}

.accordion__question {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
   border: none;
   background: transparent;
   margin-bottom: 1rem;
   padding: 0.2rem;
   font-size: 0.875rem;
   font-family: 'Kumbh Sans', sans-serif;
   text-align: left;
}

.accordion__question.open {
   font-weight: 700;
}

.accordion__question.open::after {
   transform: rotate(180deg);
}

.accordion__question::after {
   content: '';
   display: block;
   width: 0.625rem;
   height: 1rem;
   border: none;
   background-image: url('/images/icon-arrow-down.svg');
   background-repeat: no-repeat;
   background-size: contain;
   background-position: center center;
   transition: transform 300ms ease-in-out;
}

.accordion__question:focus,
.accordion__question:focus-visible {
   border: none;
   outline: dashed 1px rgba(0, 0, 0, 0.25);
}

.accordion__content {
   font-size: 0.75rem;
   line-height: 1.4;
   padding-bottom: 1rem;
}

.accordion__collapse {
   transition: height 300ms ease;
}

.accordion__collapse.open {
   display: block;
}
