* {
   padding: 0;
   margin: 0;
}

body {
   background-color: hsl(217, 54%, 11%);
   width: 100%;
   height: 100vh;
   color: white;
   display: flex;
   justify-content: center;
   align-items: center;
   font-family: "Outfit", sans-serif;
}

.card {
   background-color: hsl(216, 50%, 16%);
   border-radius: 15px;
   width: 275px;
   padding: 1.5rem;
}

.image {
   position: relative;
}