* {
   padding: 0;
   margin: 0;
}

body {
   background-color: hsl(217, 54%, 11%);
   width: 100%;
   height: 100vh;
   color: white;
   display: flex;
   justify-content: center;
   align-items: center;
   font-family: "Outfit", sans-serif;
}

.card {
   background-color: hsl(216, 50%, 16%);
   border-radius: 15px;
   width: 275px;
   padding: 1.5rem;
}

.image {
   position: relative;
}

.mainImg {
   width: 100%;
   height: 100%;
   height: auto;
   border-radius: 10px;
}

.image div {
   position: absolute;
   background-color: hsl(178, 100%, 50%, 60%);
   top: 0;
   width: 100%;
   height: 100%;
   opacity: 0;
}

.image div:hover {
   opacity: 1;
   cursor: pointer;
   border-radius: 10px;
}

.image div img {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.image .mainImg:hover {
   display: block;
}

h3 {
   margin-top: 1.5rem;
   font-size: 20px;
   font-weight: 600;
}

.description {
   margin: 0.6rem 0 1rem 0;
   color: hsl(215, 51%, 70%);
   line-height: 28px;
   font-weight: 300;
}

.price-days {
   display: flex;
   justify-content: space-between;
   border-bottom: 1px solid hsl(215, 51%, 70%);
   padding-bottom: 1rem;
   margin-bottom: 1rem;
}

.price {
   display: flex;
   align-items: center;
   color: hsl(178, 100%, 50%);
   font-size: 14px;
   letter-spacing: 1px;
}