@layer global {
  @font-face {
    font-display: swap;
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 300;
    src: url("../../fonts/dm-sans-v16-latin-300.woff2") format("woff2");
  }
  @font-face {
    font-display: swap;
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 500;
    src: url("../../fonts/dm-sans-v16-latin-500.woff2") format("woff2");
  }

  @font-face {
    font-display: swap;
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 600;
    src: url("../../onts/dm-sans-v16-latin-600.woff2") format("woff2");
  }

  @font-face {
    font-display: swap;
    font-family: "DM Sans";
    font-style: italic;
    font-weight: 600;
    src: url("../../fonts/dm-sans-v16-latin-600italic.woff2") format("woff2");
  }

  @font-face {
    font-display: swap;
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../../onts/dm-sans-v16-latin-700.woff2") format("woff2");
  }

  @font-face {
    font-display: swap;
    font-family: "Bricolage Grotesque";
    font-style: normal;
    font-weight: 700;
    src: url("../../fonts/bricolage-grotesque-v8-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  *, *::before, *::after {
    box-sizing: border-box;
  }
 
  * {
    margin: 0;
  }
}