* {
   padding: 0;
   margin: 0;
}

body {
   background-image: url("../../images/bg-main-mobile.png");
   background-color: white;
   background-position: top;
   background-repeat: no-repeat;
   width: 100%;
   height: 100vh;
   font-family: 'Space Grotesk', sans-serif;
}