* {
   margin: 0px;
   padding: 0px;
}

body {
   background-color:hsl(216, 12%, 8%);
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 100vh;
   font-family: "Overpass", sans-serif;
}

.card {
   background-color:#232a34;
   width: 412px;
   height: 416px;
   border-radius: 30px;
   display: flex;
   justify-content: center;
}

.startState {
   width: 341px;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
}

.oval {
   background-color:hsl(213, 19%, 18%);
   width: 48px;
   height: 48px;
   border-radius: 48px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.heading {
   color: white;
   font-size: 28px;
   font-weight: bold;
}

.text {
   color: hsl(216, 12%, 54%);
   font-size: 15px;
   width: 340px;
}

.ratings {
   width: 340px;
   display: flex;
   justify-content: space-between;
}

#circle {
   background-color: hsl(213, 19%, 18%);
   color: hsl(216, 12%, 54%);
   width: 51px;
   height: 51px;
   border-radius: 51px;
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
}

#circle:hover {
   background-color:hsl(25, 97%, 53%);
   color: white;
}

.button {
   background-color: hsl(25, 97%, 53%);
   width: 341px;
   height: 45px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 22.5px;
   color: white;
   font-weight: bold;
   cursor: pointer;
}
