.footer {
   background-color: $footerBg;
   font-size: 1rem;
   padding-top: 200px;

   a:hover {
      text-decoration: underline;
   }

   .container {
      display: grid;
      grid-row-gap: 35px;
      grid-column-gap: 0px;
      grid-template-columns: 1fr;
      grid-template-areas: 'logo' 'address' 'contact' 'links1' 'links2' 'social';

      @include breakpoint(medium) {
         grid-column-gap: 25px;
      }

      @include breakpoint(large) {
         grid-column-gap: 35px;
         grid-template-columns: 3fr 2fr 2fr 2fr auto;
         grid-template-rows: 60px 1fr;
         grid-template-areas: 'logo logo logo logo logo' 'address contact links1 links2 social';
      }

      @include breakpoint(xlarge) {
         grid-column-gap: 60px;
      }
   }
}
