.hero {
   position: relative;
   background-color: $introBg;

   &:after {
      content: '';
      position: absolute;
      z-index: 0;
      width: 100%;
      height: 40vw;
      bottom: 0px;
      background-image: url('/images/bg-curvy-mobile.svg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: bottom center;

      @include breakpoint(medium) {
         background-image: url('/images/bg-curvy-desktop.svg');
         height: 33vw;
      }
   }

   .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
   }

   > * {
      position: relative;
      z-index: 1;
   }

   img {
   }

   h1 {
   }

   p {
   }

   button {
   }
}
