html {
   font-size: 100%;
   box-sizing: border-box;
}

*,
*:before,
*:after {
   box-sizing: inherit;
}

body {
   margin: 0;
   padding: 0;
   font-size: 1rem;
   line-height: 1.3;
   font-family: $font__primary;
   color: $lightGray;
   background-image: url('/images/bg-header-mobile.png');
   background-size: contain;
   background-position: center top;
   background-repeat: no-repeat;

   @include breakpoint(medium) {
      background-image: url('/images/bg-header-desktop.png');
   }

   @include breakpoint(large) {
      font-size: 1.15rem;
   }
}

h1,
h2,
h3 {
   color: $darkGray;
   font-weight: 600;
   margin-top: 0px;
}

h1 {
   font-size: 1.5rem;
   margin-bottom: 25px;

   @include breakpoint(large) {
      font-size: 2.75rem;
   }
}

h2 {
   font-size: 1.75rem;
   margin-bottom: 1rem;

   @include breakpoint(large) {
      font-size: 2.125rem;
   }
}

.cta-container {
   display: flex;
   flex-direction: column;
   align-items: center;

   @include breakpoint(medium) {
      display: block;
   }

   button:first-child {
      margin-bottom: 20px;

      @include breakpoint(medium) {
         margin-bottom: 0px;
         margin-right: 16px;
      }
   }
}
