.grid-parent {
   display: flex;
}

.grid-child {
   flex: 1;
}

.grid-parent {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
}

.supercharge {
   .content {
      margin-bottom: 70px;

      @include breakpoint(large) {
         margin-bottom: 40px;
      }
   }

   &__columns {
   }

   &__column {
   }

   &__icon {
   }
}
