.grid-parent {
   display: flex;
}

.grid-child {
   flex: 1;
}

.grid-parent {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
}

.supercharge {
   .content {
   }

   &__columns {
   }

   &__column {
   }

   &__icon {
   }
}
