* {
   padding: 0;
   margin: 0;
}

body {
   width: 100%;
   height: 100vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   font-family: "Libre Franklin", sans-serif;
   font-family: "Outfit", sans-serif;
   font-family: "Red Hat Text", sans-serif;
}

header {
   height: 12vh;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: flex-end;
}

h2 {
   margin-top: 5vh;
   color: hsl(0, 0%, 59%);
}

span {
   font-weight: 800 !important;
   color: black;
}