* {
   padding: 0;
   margin: 0;
}

body {
   width: 100%;
   height: 100vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   font-family: "Libre Franklin", sans-serif;
   font-family: "Outfit", sans-serif;
   font-family: "Red Hat Text", sans-serif;
}

header {
   height: 12vh;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: flex-end;
}

h2 {
   margin-top: 5vh;
   color: hsl(0, 0%, 59%);
}

span {
   font-weight: 800 !important;
   color: black;
}

p {
   margin-top: 1.5vh;
   font-weight: lighter;
}

.inpbutton {
   display: flex;
   flex-direction: column;
   margin-top: 3.5vh;
}

.input {
   width: 245px;
   height: 25px;
   padding: 5px 0px 5px 30px;
   border-radius: 50px;
   border: 1px solid hsl(223, 100%, 88%);
   outline: none;
}

::placeholder {
   color: hsl(223, 100%, 88%);
   opacity: 1;
}

:-ms-input-placeholder {
   color: hsl(223, 100%, 88%);
}

.error {
   color: red;
   font-size: 10px;
   margin-top: 5px;
   display: none;
}