* {
   padding: 0;
   margin: 0;
}

body {
   width: 100%;
   height: 100vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   font-family: "Libre Franklin", sans-serif;
   font-family: "Outfit", sans-serif;
   font-family: "Red Hat Text", sans-serif;
}

header {
   height: 12vh;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: flex-end;
}

h2 {
   margin-top: 5vh;
   color: hsl(0, 0%, 59%);
}

span {
   font-weight: 800 !important;
   color: black;
}

p {
   margin-top: 1.5vh;
   font-weight: lighter;
}

.inpbutton {
   display: flex;
   flex-direction: column;
   margin-top: 3.5vh;
}

.input {
   width: 245px;
   height: 25px;
   padding: 5px 0px 5px 30px;
   border-radius: 50px;
   border: 1px solid hsl(223, 100%, 88%);
   outline: none;
}

::placeholder {
   color: hsl(223, 100%, 88%);
   opacity: 1;
}

:-ms-input-placeholder {
   color: hsl(223, 100%, 88%);
}

::-ms-input-placeholder {
   color: hsl(223, 100%, 88%);
}

.error {
   color: red;
   font-size: 10px;
   margin-top: 5px;
   display: none;
}

.button {
   margin-top: 10px;
   border: none;
   width: 280px;
   height: 35px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 50px;
   background-color: hsl(223, 87%, 63%);
   color: white;
   font-size: 14px;
   cursor: pointer;
}

.illustration {
   margin-top: 8vh;
   width: 320px;
   height: 175px;
}

footer {
   position: fixed;
   bottom: 0;
   width: 100%;
   font-size: 10px;
   color: hsl(0, 0%, 59%);
   height: 13vh;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.icon {
   display: flex;
   width: 100px;
   justify-content: space-between;
   margin-bottom: 25px;
}

.fa-facebook-f,
.fa-twitter,
.fa-instagram {
   color: hsl(223, 87%, 63%);
   border: 1px solid hsl(223, 100%, 88%);
   width: 26px;
   height: 26px;
   display: flex;
   border-radius: 26px;
   justify-content: center;
   align-items: center;
}

@media only screen and (min-width: 800px) {
   header {
      height: 10vh;
   }

   .headimg {
      width: 80px;
   }

   h2 {
      font-size: 50px;
      font-weight: lighter;
   }

   p {
      font-size: 25px;
   }

   .inpbutton {
      flex-direction: row;
   }
}