* {
   margin: 0;
   padding: 0;
}

body {
   background-image: url("../../images/bg-stars.svg");
   background-color: hsl(235, 16%, 14%);
   background-repeat: no-repeat;
   color: white;
   font-family: "Outfit", sans-serif;
   font-family: "Red Hat Text", sans-serif;
   width: 100%;
}

.countdown-body {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   height: 70vh;
}

.countdown-body .header {
   font-size: 20px;
   letter-spacing: 5px;
   width: 80%;
   text-align: center;
}

.counter {
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 85%;
   margin-top: 50px;
}

.box {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 65px;
   height: 65px;
   font-size: 33px;
   color: hsl(345, 95%, 68%);
   background-color: hsl(236, 21%, 26%);
   border-radius: 5px;
}