* {
   margin: 0px;
   padding: 0px;
}

body {
   background: hsl(230, 100%, 99%) url("../../images/bg-pattern.svg") no-repeat;
   background-attachment: fixed;
   background-position: top;
   font-family: "Manrope", sans-serif;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 100vh;
   width: 100%;
}

header {
   background: url("../../images/pattern-circles.svg") no-repeat center;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 150px;
   text-align: center;
}

.mainHead {
   font-weight: 800;
   font-size: 28px;
}

.subHead {
   font-size: 15px;
   color: hsl(225, 20%, 60%);
   margin-top: 15px;
}

.card {
   background-color: white;
   height: 390px;
   width: 545px;
   border-radius: 15px;
   display: flex;
   flex-direction: column;
   align-items: center;
}