* {
   margin: 0px;
   padding: 0px;
}

body {
   background: hsl(230, 100%, 99%) url("../../images/bg-pattern.svg") no-repeat;
   background-attachment: fixed;
   background-position: top;
   font-family: "Manrope", sans-serif;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 100vh;
   width: 100%;
}

header {
   background: url("../../images/pattern-circles.svg") no-repeat center;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 150px;
   text-align: center;
}

.mainHead {
   font-weight: 800;
   font-size: 28px;
}

.subHead {
   font-size: 15px;
   color: hsl(225, 20%, 60%);
   margin-top: 15px;
}

.card {
   background-color: white;
   height: 390px;
   width: 545px;
   border-radius: 15px;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.partOne {
   width: 445px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-top: 40px;
}

.pageView {
   font-size: 15px;
   color: hsl(225, 20%, 60%);
   font-weight: 800;
   letter-spacing: 1px;
}

.priceMonth {
   display: flex;
   align-items: center;
}

.price {
   font-size: 40px;
   font-weight: bolder;
}

.month {
   margin-left: 2px;
   color: hsl(225, 20%, 60%);
}

.partTwo {
   width: 445px;
   margin-top: 38px;
}

.progressBar {
   position: relative;
   height: 20px;
}

.progressBar input[type="range"] {
   width: 100%;
}

.myrange {
   appearance: none;
   background: linear-gradient(to right, hsl(174, 77%, 80%) 0,hsl(174, 77%, 80%) 50%,hsl(224, 65%, 95%) 0%, hsl(224, 65%, 95%) 100%);
   height: 10px;
   border-radius: 5px;
   outline: none;
}

.myrange::-webkit-slider-thumb {
   -webkit-appearance: none;
   width: 35px;
   height: 35px;
   background-image: url("../../images/icon-slider.svg");
   background-repeat: no-repeat;
   background-position: 50% 50%;
   background-color: hsl(174, 86%, 45%);
   border-radius: 50%;
   cursor: pointer;
}

.myrange::-webkit-slider-thumb:hover {
   box-shadow: 0px 0px 10px hsl(174, 86%, 45%);
}

.partThree {
   width: 445px;
   display: flex;
   align-items: center;
   justify-content: flex-end;
   margin-top: 45px;
}

.partThree p {
   color: hsl(225, 20%, 60%);
   font-weight: 1000;
   font-size: 12px;
}

.monthly {
   margin-right: 16px;
}

.yearly {
   margin-right: 10px;
}

.switch {
   position: relative;
   display: inline-block;
   width: 44px;
   height: 22px;
   margin-right: 12px;
}

.switch input {
   opacity: 0;
   width: 0;
   height: 0;
}

.slider {
   position: absolute;
   cursor: pointer;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: hsl(225, 20%, 60%);
   -webkit-transition: 0.4s;
   transition: 0.4s;
}

.slider:before {
   position: absolute;
   content: "";
   height: 14px;
   width: 14px;
   left: 2px;
   bottom: 4.5px;
   background-color: white;
   -webkit-transition: 0.4s;
   transition: 0.4s;
}

input:checked + .slider {
   background-color: hsl(174, 86%, 45%);
}

input:checked + .slider:before {
   -webkit-transform: translateX(26px);
   -ms-transform: translateX(26px);
   transform: translateX(26px);
}

input:focus + .slider {
   box-shadow: 0 0 1px hsl(174, 86%, 45%);
}

.slider.round {
   border-radius: 34px;
}

.slider.round:before {
   border-radius: 50%;
}

.discount {
   background-color: hsl(14, 92%, 95%);
   color: hsl(15, 100%, 70%);
   font-size: 10px;
   margin-right: 20px;
   width: 75px;
   text-align: center;
   border-radius: 15px;
   padding: 3px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.discountNumber{
   margin-right: 3px;
}

.partFour {
   border-top: 2px solid hsl(224, 65%, 95%);
   width: 100%;
   height: 100%;
   margin-top: 40px;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
}

.checkOne, .checkTwo, .checkThree {
   display: flex;
   align-items: center;
   font-size: 12px;
   margin-top: 10px;
}

.checkOne img, .checkTwo img, .checkThree img {
   margin-right: 14px;
   width: 9px;
   height: 9px;
}

.button {
   width: 170px;
   height: 38px;
   border-radius: 20px;
   border: none;
   outline: none;
   background-color: hsl(227, 35%, 25%);
   color: hsl(226, 100%, 87%);
   cursor: pointer;
   font-size: 13px;
}

@media only screen and (max-width: 600px) {
   body {
      justify-content: flex-start;
      background-size: 370px 340px;
   }

   header {
      margin-top: 56px;
      margin-bottom: 30px;
   }

   .mainHead {
      font-size: 20px;
   }

   .subHead {
      font-size: 13px;
      width: 170px;
      line-height: 22px;
      margin-top: 8px;
   }

   .card {
      width: 328px;
      height: 480px;
   }

   .partOne, .partTwo, .partFour {
      width: 280px;
   }

   .partOne {
      margin-top: 35px;
      flex-direction: column;
   }

   .pageView {
      font-size: 12px;
      margin-bottom: 90px;
   }

   .price {
      font-size: 30px;
      font-weight: bolder;
   }

   .month {
      font-size: 14px;
      margin-left: 10px;
      color: hsl(225, 20%, 60%);
   }

   .partTwo {
      position: relative;
      bottom: 128;
   }

   .myrange {
      height: 8px;
   }

   .myrange::-webkit-slider-thumb {
      -webkit-appearance: none;
      width: 40px;
      height: 40px;
      background-image: url("../../images/icon-slider.svg");
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-color: hsl(174, 86%, 45%);
      border-radius: 50%;
      cursor: pointer;
   }
}