@font-face {
  font-display: swap;
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 400;
  src: url('../../fonts/outfit-v11-latin-regular.woff2') format('woff2');
}
 
@font-face {
  font-display: swap;
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 600;
  src: url('../../fonts/outfit-v11-latin-600.woff2') format('woff2');
}
 
@font-face {
  font-display: swap;
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 700;
  src: url('../../fonts/outfit-v11-latin-700.woff2') format('woff2');
}
 
@font-face {
  font-display: swap;
  font-family: 'Young Serif';
  font-style: normal;
  font-weight: 400;
  src: url('../../fonts/young-serif-v2-latin-regular.woff2') format('woff2');
}

:root {
  --c-white: hsl(0, 0%, 100%);
  --c-stone-100: hsl(30, 54%, 90%);
  --c-stone-150: hsl(30, 18%, 87%);
  --c-stone-600: hsl(30, 10%, 34%);
  --c-stone-900: hsl(24, 5%, 18%);
  --c-brown-800: hsl(14, 45%, 36%);
  --c-rose-800: hsl(332, 51%, 32%);
  --c-rose-50: hsl(330, 100%, 98%);
  --ff-sans-serif: 'Outfit', Arial, Helvetica, sans-serif;
  --ff-serif: 'Young Serif', Georgia, 'Times New Roman', Times, serif;
  --color-background: var(--c-stone-100);
  --color-background-recipe: var(--c-white);
  --color-headline-primary: var(--c-stone-900);
  --color-headline-secondary: var(--c-brown-800);
  --color-text: var(--c-stone-600);
  --color-prep-background: var(--c-rose-50);
  --color-prep-headline: var(--c-rose-800);
  --color-border: var(--c-stone-150);
  --color-table-td: var(--c-brown-800);
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-color: var(--color-background);
  margin: 0;
  font-family: var(--ff-sans-serif);
}

h1, h2 {
  font-family: var(--ff-serif);
  line-height: 1;
  margin: 0;
}

h1 {
  font-size: 2.25rem;
  margin-block-end: 20px;
  color: var(--color-headline-primary);

  @media (width >= 68.75rem) {
    font-size: 2.75rem;
    margin-block-end: 24px;
  }
}

h2 {
  font-size: 1.6rem;
  color: var(--color-headline-secondary);
}

p, ul li, ol li, th, td {
  font-size: 1rem;
  color: var(--color-text);

  @media (width >= 68.75rem) {
    font-size: 1.15rem;
  }
}

p {
  line-height: 1.3;
  margin-block-end: 20px;

  @media (width >= 68.75rem) {
    margin-block-end: 24px;
  }
}

ul, ol {
  padding-inline-start: 16px;
  margin-block-end: 0;
}

ul li, ol li {
  padding-inline-start: 20px;
  line-height: 1.75;
}

img {
  max-width: 100%;
  height: auto;
}