@layer fonts {
  @font-face {
    font-display: swap;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 600;
    src: url('../../fonts/barlow-v12-latin-600.woff2') format('woff2');
  }

  @font-face {
    font-display: swap;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 700;
    src: url('../../fonts/fraunces-v35-latin-700.woff2') format('woff2');
  }

  @font-face {
    font-display: swap;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    src: url('../../fonts/fraunces-v35-latin-900.woff2') format('woff2');
  }
}

@layer colors {
  :root {
    --c-red-400: hsl(7, 99%, 70%);
    --c-yellow-500: hsl(51, 100%, 49%);
    --c-blue-800: hsl(198, 62%, 26%);
    --c-green-500: hsl(167, 34%, 41%);
    --c-grey-950: hsl(212, 27%, 19%);
    --c-grey-600: hsl(213, 9%, 39%);
    --c-grey-550: hsl(232, 10%, 55%);
    --c-grey-400: hsl(210, 4%, 67%);
    --c-white: hsl(0, 100%, 100%);
    --c-white-o25: hsla(0, 100%, 100%, 0.25);
    --color-button-bg-mobile: var(--c-yellow-500);
    --color-button-txt-mobile: var(--c-grey-950);
    --color-button-bg-desktop: var(--c-white);
    --color-button-bg-desktop-hover: var(--c-white-o25);
    --color-button-txt-desktop: var(--c-grey-950);
    --color-button-txt-desktop-hover: var(--c-white);
  }
}

@layer global {
  *, *::before, *::after {
    box-sizing: border-box;
  }

  body {
    margin: 0;
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
  }

  h1, h2, h3 {
    font-family: 'Fraunces', serif;
    font-weight: 900;
    margin: 0;
    line-height: 1;
  }

  p {
    font-size: calc(18 / 16 * 1rem);
    line-height: 1.3;
  }

  a {
    text-decoration: none;
  }

  img {
    display: block;
    height: auto;
    max-width: 100%;
  }

  ul {
    margin: 0;
    padding: 0;
  }
}