@layer fonts {
  @font-face {
    font-display: swap;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 600;
    src: url('../../fonts/barlow-v12-latin-600.woff2') format('woff2');
  }

  @font-face {
    font-display: swap;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 700;
    src: url('../../fonts/fraunces-v35-latin-700.woff2') format('woff2');
  }

  @font-face {
    font-display: swap;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    src: url('../../fonts/fraunces-v35-latin-900.woff2') format('woff2');
  }
}

@layer global {
  *, *::before, *::after {
    box-sizing: border-box;
  }
}