@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

*, *::before, *::after {
   box-sizing: border-box;
}

* {
   margin: 0;
}

html, body {
   height: 100%;
}

body {
   line-height: 1.5;
   -webkit-font-smoothing: antialiased;
}

img, svg {
   display: block;
   max-width: 100%;
}

button {
   font: inherit;
   border: none;
   background: none;
}

p, h1, h2 {
   overflow-wrap: break-word;
}