@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

:root {
   --base: 1rem;
   --radius: 0.8rem;

   --sizer-1: calc((var(--base) * 1.26));
   --sizer-2: calc((var(--base) * 1.875));
   --sizer-3: calc((var(--base) * 2.25));
   --sizer-4: calc((var(--base) * 2.5));
   --sizer-5: calc((var(--base) * 2.8125));

   --fs-1: calc((var(--base) * 0.8));
   --fs-2: ((--base));
   --fs-3: calc((var(--base) * 1.75));
   --fs-4: calc((var(--base) * 2.25));
 
   --bkg: hsl(25, 100%, 99%);
   --accent: hsl(26, 100%, 55%);
   --accent-semi-transparent: hsl(26, 100%, 55%, 0.4);
   --accent-pale: hsl(25, 100%, 94%);
   --text: hsl(25, 100%, 3%);
   --text-opacity: hsl(25, 100%, 3%, 0.75);
   --alt-bkg: hsl(220, 13%, 13%);
   --alt-bkg1: hsl(219, 9%, 45%);
   --alt-bkg2: hsl(220, 14%, 75%);
   --alt-bkg3: hsl(223, 64%, 98%);
 }

*, *::before, *::after {
   box-sizing: border-box;
}

* {
   margin: 0;
}

html, body {
   height: 100%;
}

body {
   line-height: 1.5;
   font-family: "Kumbh Sans", sans-serif;
   -webkit-font-smoothing: antialiased;
}

img, svg {
   display: block;
   max-width: 100%;
}

button {
   font: inherit;
   border: none;
   background: none;
   cursor: pointer;
}

p, h1, h2 {
   overflow-wrap: break-word;
}

svg {
   pointer-events: none;
}

.grid {
   display: grid;
}

.flex {
   display: flex;
}

.rounded {
   border-radius: var(--radius);
}

.hidden {
   display: none;
}

.fs-1 {
   font-size: var(--fs-1);
}

.fs-2 {
   font-size: var(--fs-2);
}

.fs-3 {
   font-size: var(--fs-3);
}

.fs-4 {
   font-size: var(--fs-4);
}

.uppercase {
   text-transform: uppercase;
}

.font-bold {
   font-weight: bold;
}

h1 {
   line-height: 1.1;
}

h2 {
   line-height: 1.1;
}

.gap-base {
   gap: var(--base);
}

.gap-1 {
   gap: var(--sizer-1);
}

.gap-4 {
   gap: var(--sizer-4);
}

.bg-accent {
   background-color: var(--accent);
}

.bg-accent-pale {
   background-color: var(--accent-pale);
}

.bg-alt-bkg3 {
   background-color: var(--alt-bkg3);
}

.accent {
   color: var(--accent);
}

.accent-pale {
   color: var(--accent-pale);
}

.alt-bkg1 {
   color: var(--alt-bkg1);
}

.alt-bkg2 {
   color: var(--alt-bkg2);
}

nav {
   display: flex;
   justify-items: center;
   justify-content: space-between;
   padding: var(--sizer-1);
   background-color: var(--bkg);
   width: 100%;
   position: fixed;
   z-index: 8;
}

.nav--section {
   gap: 10px;
}

.account {
   width: var(--sizer-1);
}

.nav__panel-container {
   background-color: hsl(0, 0%, 3%, 0.6);
   position: fixed;
   inset: 0;
   z-index: 10;
   transform: translateX(-100%);
}

.nav__panel-container.expanded {
   transform: translateX(0%);
}

.nav__panel {
   background-color: var(--bkg);
   width: 60%;
   height: 100%;
   padding: var(--sizer-1);
}

.nav__link-container {
   list-style: none;
   padding: 0;
   display: grid;
}

.nav__link a {
   text-decoration: none;
   font-weight: bold;
   color: var(--text);
}

.slider-container {
   overflow: hidden;
   width: 100%;
   position: relative;
}

.btn {
   position: absolute;
   z-index: 5;
   top: 50%;
   background-color: var(--bkg);
   height: var(--sizer-3);
   width: var(--sizer-3);
   border-radius: 50%;
   display: grid;
   place-items: center;
   transform: translateY(-50%);
   cursor: pointer;
}

.btn.hidden {
   display: none;
}

.btn--left {
   left: var(--sizer-1);
}